@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/satoshi');
/* @import 'antd/dist/antd.css'; */
* {
  box-sizing: border-box;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #555555;
}

body {
}
html,
body {
  padding: 0;
  margin: 0;
  color: #292929;
  font-family: 'Satoshi', sans-serif;
  overflow-x: hidden;
}
/* header */
header li {
  padding: 0 10px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #292929;
  cursor: pointer;
}
.active {
  border-bottom: 2px solid #000000;
  color: #79c2d2;
}
.icons {
  width: 28px;
  height: 28px;
}
/* main */
.main-topic {
  font-family: 'Clash Display';
  font-weight: 600;
  font-size: 80px;
  line-height: 125px;
  text-align: center;
}
h1 {
  font-family: 'Clash Display';
}
.main-point {
  font-weight: 500;
  font-size: 28px;
  line-height: 44px;
  text-align: center;
  /* width: 14em; */
}
/* Main frame */
.main-frame {
  overflow-y: hidden;
}
.main-frame img {
  width: 308px;
  height: 378px;
}
.frame-1 img {
  width: 358px;
  height: 332px;
}
/* featured */
.featured {
  font-weight: 500;
  font-size: 48px;
  line-height: 65px;
}
.card {
  padding-top: 40px;
  border-top: 0.5px solid #333333;
}

.feat-img {
  width: 610px;
  height: 305px;
  padding-right: 20px;
}
.feat-item-head {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}
.feat-content {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  width: 24em;
}
/* auction-page */
.auction-page {
  width: 100%;
  max-width: 1440px;
  /* height: 780px; */
  background: linear-gradient(
    99.99deg,
    #4693ed -26.21%,
    #79c2d2 22.16%,
    rgba(192, 86, 9, 0.49) 111.62%
  );
}
.auction-header {
  font-weight: 500;
  font-size: 40px;
  line-height: 54px;
  color: #ffffff;
  align-items: center;
}
.inner-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner {
  width: 100%;
  max-width: 1200px;
  height: 546px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)),
    linear-gradient(
      104.57deg,
      rgba(0, 0, 0, 0) 21.03%,
      rgba(0, 0, 0, 0.2) 56.5%,
      rgba(0, 0, 0, 0.2) 93.84%
    ),
    url(../public/images/home/auction.png);
}
.content-head {
  font-family: 'Bellefair';
}
.head-content {
  font-family: 'Bellefair';
  padding-top: 40px;
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
  color: #ffffff;
  width: 12em;
  font-size: 29.2313px;
}
.number {
  font-family: 'Bellefair';
  color: #e1e1e1;
  font-weight: 400;
  font-size: 67.6122px;
  line-height: 77px;
}
.dot {
  padding: 10px;
  margin-top: 30px;
  width: 40px;
  height: 40px;
}
.time {
  font-weight: 400;
  font-size: 13.46px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
.get {
  font-weight: 500;
  font-size: 15.8576px;
  line-height: 21px;
  letter-spacing: 0.065em;
  text-transform: uppercase;
  color: #ffffff;
  width: 44em;
}
.see {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-decoration-line: underline;
  color: #ffffff;
  width: 100%;
}
.set-btn {
  max-width: 181px;
  height: 62px;
  width: 16em;
  border: 1px solid #ffffff;
  border-radius: 10px;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
.parent-color {
  width: 295.69px;
  height: 10px;
  background: #aeaeae;
  border-radius: 50px;
}
.color-white {
  background: #ffffff;
  border-radius: 50px;
  width: 47.52px;
  height: 10px;
  margin-top: px;
}
.round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 69.71px;
  height: 69.71px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 7.77035px 7.77035px 11.6555px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(7.77035px);
  box-sizing: border-box;
  border-radius: 100%;
}
/* ExploreMarket Page */
.explore {
}
.explore-content {
  font-weight: 500;
  font-size: 36px;
  line-height: 65px;
}
.explore-main {
  border: 0.5px solid #e1e1e1;
  border-left: none;
  border-right: none;
}
.explore-main-2 {
  border: 0.5px solid #e1e1e1;
  border-left: none;
  border-right: none;
  border-top: none;
}
.arror {
  width: 71px;
  height: 71px;
}
/* CreatorPage */
.creator-page {
  background: #e2e2e2;
  width: 100%;
  max-width: 1440px;
  height: 742px;
}
.creator-content {
  font-family: 'Clash Display';
  font-weight: 600;
  font-size: 48px;
  line-height: 155.5%;
  width: 10em;
}
.line {
  background: #aeaeae;
  border-radius: 50px;
  transform: rotate(-90deg);
  width: 47.52px;
  height: 10px;
}
.creator-lists li {
  font-family: 'Clash Display';
  font-weight: 400;
  font-size: 40px;
  line-height: 205.5%;
  list-style: none;
}
.creator-p {
  font-family: 'Clash Display';
  font-weight: 200;
  font-size: 26px;
  line-height: 38px;
  color: rgba(0, 0, 0, 0.57);
  width: 40em;
  opacity: 0.5;
}
.creator-img {
  width: 650px;
  height: 650px;
  position: relative;
  /* top: 0; */
  bottom: 390px;
  left: 360px;
}
/* newsletter psge */
.newsletter-page {
  width: 100%;
  padding-bottom: 40px;
  left: 54px;
  top: 5420px;
  border: 1px solid #333333;
}
.newsletter-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter-content h1 {
  font-family: 'Baskervville';
  font-style: normal;
  font-weight: 400;
  font-size: 30.2105px;
  line-height: 39px;
  text-transform: uppercase;
}
.newsletter-content p {
  font-weight: 400;
  font-size: 24px;
  line-height: 43px;
}
.newsletter-page input {
  border: 1px solid #333333;
  width: 100%;
  max-width: 246px;
  height: 40px;
  border-radius: 5px;
}
.newletter-btn {
  padding: 10px 20px;
  background: #272727;
  border: 1px solid #333333;
  font-family: 'Baskervville';
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
}
/* footer */
.logo {
  font-family: 'Clash Display';
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #292929;
}
.footer li {
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
  padding-bottom: 40px;
  cursor: pointer;
}
.email,
.location {
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
  padding-bottom: 40px;
  cursor: pointer;
}
footer {
  padding-top: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #333333;
  opacity: 0.5;
}
.email img {
  width: 61px;
  height: 34px;
}
.location img {
  width: 61px;
  height: 51px;
}

/* shopping cart page */
.cart-card {
  border: 0.3px solid #aeaeae;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.price {
  font-family: 'Cardo';
  font-weight: 400;
  font-size: 26px;
  line-height: 49px;
}
.cart-name {
  width: 12em;
}

/* PaymentDetail */
.payment-input {
  background: #f2f2f2;
  border: 0.5px solid #747474;
  border-radius: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #888888;
  /* max-width: 610px; */
  width: 100%;
  height: 45px;
}
.shopping-btn {
  background: #3341c1;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20.7287px;
  padding: 15px 20px;
  width: 100%;
  color: #f2f2f2;
}
.payment-details label {
  font-size: 24px;
}
.market-search {
  box-shadow: 4px 4px 64px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.market-search input {
  border: none;
}
.item-card {
  background: #ffffff;
  box-shadow: 0px 34px 68px rgba(217, 225, 244, 0.36);
  border-radius: 15px;
}

.more-btn {
  border: 1px solid #333333;
  border-radius: 10px;
  font-weight: 500;
  font-size: 22px;
  padding: 15px 20px;
}
/* aucton pAge */
.creator-card {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
/* 'editoal page */

.editoal-card {
  border: 1px solid #333333;
  max-width: 600px;
  width: 100%;
}
/* item-details page */
.item-header {
  border: 1px solid #333333;
  border-left: none;
}
/* collection card */
.explore {
  background: #ffffff;
  box-shadow: 4px 4px 64px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
}
.explore {
}
.bid-btn {
  background: #3341c1;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 5px;
  height: 65px;
}
.live-chat {
  border: 1px solid #78a3ad;
  border-radius: 25px;
}
.send-btn {
  width: 24px;
  height: 24px;
  float: right;
}
/* drop page */
.notify {
  padding: 15px 40px;
  border-radius: 10px;
  font-size: 30px;
}
.upcoming {
  font-family: Inter;
  width: 100%;
  max-width: 189px;
}
.inner {
  /* background: ; */
}
.drop-inner {
  background: rgba(245, 244, 244, 0.24);
}
.drop-btn {
  border: 1px Solid #333333;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
}
.confirmation {
  overflow-y: hidden;
  overflow-x: hidden;
}
.ant-form-vertical .ant-form-item-label >label {
color: #888888;
font-size: 16px;
}
